/// tooltip - 1.0.0

%tooltip {
  background-color: rgba(getColor(background, invert), .8);
  color: getColor(text, invert);
  position: absolute;
  display: inline-block;
  font-size: 10px;
  line-height: 20px;
  padding: 0 8px;
  @include ellipsis;
  max-width: 160px;
  @include border-radius(4px);
  z-index: 10;
}

[data-tooltip] {
  position: relative;

  &:before {
    visibility: hidden;
    opacity: 0;
    content: attr(data-tooltip);
    @extend %tooltip;
    @include transition(opacity .4s, transform .4s);
  }

  &:hover {
    &:before {
      visibility: visible;
      opacity: 1;
    }
  }
}

[data-tooltip-position=left] {
  &:before {
    right: 100%;
    top: 50%;
    margin-top: -10px;
    margin-right: 4px;
    @include transform(translateX(-16px));
  }

  &:hover {
    &:before {
      @include transform(translateX(0));
    }
  }
}

[data-tooltip-position=right] {
  &:before {
    left: 100%;
    top: 50%;
    margin-top: -10px;
    margin-left: 4px;
    @include transform(translateX(16px));
  }

  &:hover {
    &:before {
      @include transform(translateX(0));
    }
  }
}

[data-tooltip-position=top] {
  &:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 4px;
    @include transform(translate3D(-50%, 16px, 0));
  }

  &:hover {
    &:before {
      @include transform(translate3D(-50%, 0, 0));
    }
  }
}

[data-tooltip-position=bottom] {
  &:before {
    top: 100%;
    left: 50%;
    margin-top: 4px;
    @include transform(translate3D(-50%, -16px, 0));
  }

  &:hover {
    &:before {
      @include transform(translate3D(-50%, 0, 0));
    }
  }
}

[data-tooltip-delay] {
  &:before {
    @include transition-delay(.4s);
  }
}