////
/// label - 1.0.0
/// @author Bernhard Ruoff

.label {
  font-size: rem(12);
  line-height: rem(16);
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  padding: 0 rem(8);

  &.light,
  &.inactive {
    background-color: getColor(btn, minor);
    color: getColor(text, light);
  }

  &.urgend {
    background-color: getColor(state, urgend);
    color: setColor(getColor(state, urgend), getColor(base, text), white);
  }

  &.notification {
    background-color: getColor(state, notification);
    color: setColor(getColor(state, notification), getColor(text, light), white);
  }

  &.active {
    background-color: getColor(base, link);
    color: setColor(getColor(base, link), getColor(text, light), white);
  }

  &.super {
    background-color: getColor(base, super);
    color: setColor(getColor(base, super), getColor(text, light), white);
  }
}