.vcms-pop {
  @extend %pop;
  padding-bottom: 0;
  max-width: 320px;
  font-size: 14px;
  font-family: sans-serif;

  .vcms-pop-footer {
    @include transform(translateY(50%));
    margin-top: 8px;

    nav {
      ul {
        white-space: nowrap;
        text-align: center;

        li {
          display: inline-block;
        }
      }
    }
  }
}