.vcms-colorpicker {
  position: relative;

  .vcms-colorpicker-selected {
    @include box-shadow(inset 0 0 4px rgba(black, .4));
    @include border-radius(8px !important);
    border: 1px solid white;

    &.untouched {
      @include box-shadow(inset 0 0 4px rgba(black, .2));
      background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+CjxyZWN0IHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0idHJhbnNwYXJlbnQiPjwvcmVjdD4KPHJlY3Qgd2lkdGg9IjgiIGhlaWdodD0iOCIgZmlsbD0iYmxhY2siIGZpbGwtb3BhY2l0eT0iLjEiPjwvcmVjdD4KPHJlY3QgeD0iOCIgeT0iOCIgd2lkdGg9IjgiIGhlaWdodD0iOCIgZmlsbD0iYmxhY2siIGZpbGwtb3BhY2l0eT0iLjEiPjwvcmVjdD4KPC9zdmc+");
      @include background-size(16px);
      background-position: center;
    }
  }

  .vcms-colorpicker-options {
    width: (32 * 5 + 8) * 1px;
    position: absolute;
    top: 100%;
    left: 50%;
    background-color: getColor(base, background);
    @include border-radius($dropdown-radius * 1px);
    @extend %shadow%dropdown;
    @include transition(all .4s);
    max-height: 320px;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    padding: 4px;
    padding-top: 24px;
    margin: 0;
    margin-left: (32 * 5 + 8) * -.5px;

    .vcms-colorpicker-close {
      position: absolute;
      top: 4px;
      right: 4px;
      text-align: center;
      padding: 4px;
      font-size:12px;
      line-height: 20px;
      min-width: 28px;
      @include border-radius(50%);
      
      &:hover {
        color: getColor(base, link);
        background-color: getColor(background, lightest);
      }
    }

    &.active {
      visibility: visible;
      opacity: 1;

    }

    ul.vmcs-colorpicker-available {
      list-style: none;
      margin: 8px 0;
      padding: 0;

      li {
        display: inline-block;

        a {
          width: 32px;
          height: 32px;
          min-width: inherit;
          @include border-radius(50% !important);
          @include box-shadow(inset 0 0 4px rgba(black, .2));
          border: 4px solid white;
        }
      }
    }

    .vcms-colopicker-input {
      label {
        margin-top: 8px;
        background-color: getColor(background, lightest);
        padding: 4px;
        @include border-radius(2px);
      }
    }
  }
}