%toolbar {
  background-color: getColor(base, background);
  margin: 8px -4px;
  font-family: $bodyFont;

  nav {
    @include flexbox;
    @include flex-wrap(wrap);

    ul.vcms-toolbar-group {
      margin: 4px;
      @include flex(0 0 auto);

      > li {
        display: inline-block;
        position: relative;

        &:first-child {
          a {
            @include border-radius(4px 0 0 4px);
          }
        }

        &:last-child {
          a {
            @include border-radius(0 4px 4px 0);
          }
        }

        .active {
          > a {
            background-color: getColor(state, active);
            font-weight: bold;
            color: setColor(getColor(state, active));
          }
        }

        a {
          color: getColor(text, light);
          display: inline-block;
          min-width: 40px;
          height: 40px;
          font-size: 14px;
          line-height: 24px;
          padding: 8px;
          text-align: center;
          cursor: pointer;
          @include user-select(none);
          background-color: getColor(background, lightest);

          &:hover {
            background-color: getColor(state, hover);
            color: setColor(getColor(state, hover));
          }
        }

        .vcms-tags {
          > li {
            > a {
              font-weight: bold;
              color: getColor(base, text);
              padding: 8px 16px;
            }
          }
        }
      }
    }
  }
}

.vcms-toolbar {
  @extend %toolbar;
}