form {
  &.ng-submitted {
    input:not([type="submit"]):not([type="reset"]):not([type="checkbox"]):not([type="radio"]),
    select,
    textarea {

      &.ng-invalid-required.ng-invalid.ng-empty {
        border-color: getColor(state, error);
      }

      &.ng-invalid.ng-touched {
        border-color: getColor(state, error);
      }
    }
  }

  input[type="email"] {
    &:not(.ng-empty) {
      &.ng-dirty.ng-valid {
        @include box-shadow(inset 0 0 2px 2px rgba(getColor(state, success), .4) !important);
      }
    }
  }
}