////
/// ec-icon placeholder based on ec-icon.1.1.9
/// @author Bernhard Ruoff
///
/// can be used for :before and :after elements via @extand

%ec-icon {
  font-family: "ec-icon" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: normal !important;
  font-variant: normal !important;
  font-style: normal;
  text-transform: none !important;
  text-rendering: optimizeLegibility;
  speak: none;
  display: inline-block;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-size: 1rem;
  line-height: 1.5rem;
}

/// TODO delete after deployment of ec-icon 1.2.0

.ec-icon {
  &:before {
    padding-right: rem(8);
  }

  &:empty {
    &:before {
      padding-right: 0;
    }
  }
}