<div class="vcms-editor" [class.readonly]="readonly">
  <ec-vcms-toolbar [vcms]="this" *ngIf="!readonly && !toolbar"></ec-vcms-toolbar>
  <div class="vcms-html" [hidden]="!htmlMode" #htmlEditor></div>

  <div class="vcms-content" [hidden]="htmlMode" #editor></div>

  <footer class="vcms-editor-footer" *ngIf="!config?.autosave && !readonly">
    <nav>
      <ul>
        <li>
          <button type="button" (mousedown)="saveElement($event)" [disabled]="!dirty">
            Speichern
          </button>
        </li>
        <li>
          <button type="button" (mousedown)="resetElement($event)" [hidden]="!dirty">
            <span class="ec-icon close"></span>
          </button>
        </li>
      </ul>
    </nav>
  </footer>
</div>
