.vcms-editor {
  padding: rem(16);

  .content {
    border: 1px solid getColor(base, border);
    @include border-radius(rem(2));
    @include box-shadow(inset 0 0 4px rgba(black,.1));
    padding: rem(8);

    [contenteditable] {
      outline: none;
    }
  }
}