//
// @font-face
// -------------
@import url('https://icons.cdn.entrecode.de/ec-icons-1.1.12.css');

$bodyFont: sans-serif;

//
// Color Palette
// -------------

$background: white;
$text: #37474F;
$link: #00B0FF;
$super: #FF5353;
$minor: #37474F;
$highlight: #FFFF8D;

// function for setColor
@if (lightness($text) > 50) {
  $setDark: $background;
  $setLight: $text;
} @else {
  $setDark: $text;
  $setLight: $background;
}

$dropdown-radius: 4;